/* Test */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

* {
    /* all: unset; */
    margin: 0; /* When these properties are set to 0, they do not require a unit of measurement. */
    padding: 0;
    color: black;
    text-decoration: none;
} 


html {
    font-family: /* Roboto, */ Helvetica Neue, Arial, Helvetica, sans-serif;
}

a:hover {
    color: #89cff0; 
    font-weight: 800;
}

a:active {
    font-weight: 800;
}



a:visited {
    font-weight: 800;
}

/* main {
    display: grid;
} */

header {
    /* display: flex; */
    width: 100%;
    padding: 25px 0;
    position: fixed;
    z-index: 999;
    background-color: white; /* otherwise will be transparent */
}

.header-content {
    width: 80%;
    margin: 0 auto;
}

.simo-header {
    width: 15%;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.1em;
}

nav {
    
}

.header-nav {
    display: inline-block;
    justify-content: space-around;
    list-style: none;
}

.header-nav-item {
    display: inline-block;
    margin: 0 20px 0 0; 
    font-size: 0.875rem;
}

.main-content {
    margin: auto;
    width: 80%;
}

.profile-picture-headings {
    padding: 79.2px 0 0 0; 
    display: flex;
}

.profile-headings {
    /* display: inline-block; */
    height: 200px;
    padding: 20px 0 0 25px;
    margin: auto 0; 
}

.simo-heading {
    text-transform: uppercase;
    font-size: 1.875rem;
    margin: 0 0 15px 0;
}

.profile-pic {
    width: 250px;
    border-radius: 50%;
}

.introductory-paragraph {
    margin: 30px 0px;
}

.svg-suitcase {
    
}

.svg-location-pin {
    
}

.job-title {
    margin: 10px 0;
}

.location {
    margin: 10px 0;
    color: grey; 
}

.skills {
    margin: 12.5px 0; 
}

.skill {
    border-radius: 0.125rem;
    font-size: 0.75rem;
    background-color: rgb(229 231 235);
    padding: 4px 8px;
}

.github {
    font-size: 1.75rem;
    margin: 0 7.5px 0 0; 
}

.linkedin {
    font-size: 1.75rem;
}

.introductory-paragraph a {
    text-decoration: underline;
}

.hi, .animation {
    display: inline-block;
}