/* Test */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

* {
    /* all: unset; */
    margin: 0; /* When these properties are set to 0, they do not require a unit of measurement. */
    padding: 0;
    color: black;
    text-decoration: none;
} 


html {
    font-family: /* Roboto, */ Helvetica Neue, Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

a:hover {
    color: #89cff0; 
    font-weight: 800;
}

a:active {
    font-weight: 800;
}


a:visited {
    font-weight: 800;
}

/* main {
    display: grid;
} */

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 25px 0;
    background-color: white; /* otherwise will be transparent */
}

.header-content {
    width: 80%;
    margin: 0 auto;
}

.simo-header {
    width: 15%;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.1em;
}

nav {
    
}

.header-nav {
    display: inline-block;
    list-style: none;
}

.header-nav-item {
    display: inline-block;
    margin: 0 20px 0 0; 
    font-size: 0.875rem;
}

.main-content {
    margin: 0 auto;
    width: 80%;
}

.profile-picture-headings {
    padding: 79.2px 0 0; 
    display: flex;
}

.profile-headings {
    /* display: inline-block; */
    height: 200px;
    padding: 20px 0 0 25px;
    margin: auto 0; 
    overflow: hidden;
    min-width: 539.14px
}

.simo-heading {
    text-transform: uppercase;
    font-size: 1.875rem;
    margin: 0 0 15px 0;
}

.profile-pic {
    max-width: 250px;
    border-radius: 50%;
}

.introductory-paragraph {
    margin: 30px 0px;
}

.svg-suitcase {
    
}

.svg-location-pin {
    
}

.job-title {
    margin: 10px 0;
}

.location {
    margin: 10px 0;
    color: grey; 
}

.skills {
    margin: 12.5px 0; 
    
}

.skill {
    border-radius: 0.125rem;
    font-size: 0.75rem;
    background-color: rgb(229 231 235);
    padding: 4px 8px;
}

.github {
    font-size: 1.75rem;
    margin: 0 7.5px 0 0; 
}

.linkedin {
    font-size: 1.75rem;
}

.introductory-paragraph a {
    text-decoration: underline;
}

.hi, .animation {
    display: inline-block;
    padding: 10px 0; 
}

.bookshelf-container {
    padding: 60px 0; 
    width: 100%;
}

.bookshelf-heading {
    font-size: 1.2rem;
}

.bookshelf {
    margin: 30px auto 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.book-div {
    display: inline-block;
}

.book {
    width: 110px;
    height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 998;
    /* left: 0; */
}

.footer-div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

body {
    position: relative;
    min-height: 100vh;
}

/* 
contact_me.html

Contact Me Form 
*/

.contact-form {
    margin: 0 auto;
    padding: 100px 0 0 0;
    width: 58.333%;
}

form h1, form input, form textarea, form button {
    display: block;
}

form input, form textarea, form button {
    border-radius: .375rem; /* Rounded borders */
}

form input, form textarea {
    border: 2px solid #e5e7eb; /* Gray border */
    width: 100%;
    padding: 8px;
    font-weight: 900px;
}

form h1 {
    font-size: 1.5rem;
    /* text-decoration: underline; */
    color: black;
    margin: 0 0 15px;
    display: inline-block;
}

#email {
    margin: 8px 0;
}

form textarea {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0 0 16px;
}

form button {
    padding: 12px 32px;
    /* background-color: #89cff0; */
    /* Bc has a border-radius set in above CSS rule, need to explicitly state how want border styled ow will be default */
    border: 0 none;
    background-image: linear-gradient(to right, #32cd32,#89cff0);
}

form button:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1);
}

.button-text {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}





/* projects.html */

.projects-heading {
    padding: 110px 0 0 0;
    font-size: 1.875rem;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 986px) {
    .skills {
        line-height: 1.5rem; 
    }
}

@media screen and (max-width: 669px) {
    .profile-pic {
        /* width: 150px; */
    }
}

@media screen and (max-width: 768px) {
    .contact-form {    
        width: 100%;
    }
    /* K* Put this at the bottom , BC OW, CSS declartion of width: 58.3% above, would OVERRIDE this, EVEN when the condition is MET!*/
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}